@keyframes hover_color {
    0%   {color: #2E86C1;}
    16%  {color: #17A589;}
    33%  {color: #28B463;}
    50%  {color: #D4AC0D;}
    66%  {color: #28B463;}
    83%  {color: #17A589;}
    100% {color: #2E86C1;}
}
body {
    background-color: #515A5A;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
* {
    text-align: center;
    font-family: Ubuntu, serif;
    color: lightgrey;
}
/*mobile*/
@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: column;
        row-gap: 10px;
        padding: 16px 0;
    }

    .defaultmenu {
        gap: 20px;
        flex-direction: column;
    }

    article {
        margin-left: 0;
        margin-right: 0;
    }

    p {
        padding: 5px;
        font-size: 16px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 20px;
    }

    .offer {
        font-size: 20px;
        padding: 10px 30px;
    }
}

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .menu {
        flex-direction: column;
        row-gap: 24px;
        padding: 16px 0;
    }

    .defaultmenu {
        gap: 40px;
    }

    .articles {
        margin: 0;
    }

    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 20px;
    }

    .offer {
        font-size: 24px;
        padding: 10px 100px;
    }
}

/*desktop*/
@media only screen and (min-width: 900px) {
    .menu {
        flex-direction: row;
        padding: 10px 5%;
    }

    .defaultmenu {
        gap: 60px;
    }

    article {
        margin-left: 2%;
        margin-right: 2%;
    }

    h1 {
        font-size: 48px;
    }

    p {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 24px;
    }

    h2 {
        font-size: 32px;
    }

    .offer {
        font-size: 24px;
        padding: 10px 100px;
    }
}

/* cele menu */
.menu {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: #1e1e1e;
    margin-top: 0;
    overflow: hidden;

}

/* menu bez prihlasenia a registracie */
.defaultmenu {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style-type: none;
    background-color: #1e1e1e;

    margin-top: 0;
    padding: 10px 16px;
    overflow: hidden;
    white-space: nowrap;
}

/* prihlasenie a registracia */
.btns {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    gap: 10px;
}

.menu a {
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: #2E86C1;
}

.menu a:hover {
    animation-name: hover_color;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

h1 {
    padding: 24px 0;
    color: #1e1e1e;
}

.offersTitle {
    margin: 0 16px;
}
.gaming_img {
    border-radius: 2%;
    max-width: 80%;
    margin-top: 64px;
    height: auto;
}

iframe , .twitter-tweet {
    max-width: 80%;
    align-items: center;
    margin: auto;
}

footer {
    margin: 48px 5% 0;
}

hr {
    height: 2px;
    background-color: #1e1e1e;
    border: none;
}

.footer_text {
    display: flex;
    justify-content: space-between;
}

.footer_text p {
    padding: 0 5%;
    margin-top: 5px;
    font-size: 16px;
}

.offers {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style-type: none;
    margin: 48px 24px 160px;
}

.offer {
    background-color: #1e1e1e;
    border-radius: 10px;
    margin: 0 32px 5px;
}
.offers a {
    text-decoration: none;
}

.offers a:hover {
    color: #2E86C1;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5%;
}

article {
    margin-bottom: 5%;
    border-style: solid none ;
    border-color: #1e1e1e;
    border-width: 5px;
    border-radius: 15px;
    padding: 5% 0;
}

p.review_text {
    text-align: justify;
    font-size: 16px;
    margin: 16px 0;
}

.review_img {
    border-radius: 2%;
    max-width: 80%;
    margin-top: 16px;
    height: auto;
}

.btn {
    font-size: smaller;
    font-weight: bold;
    text-decoration: none;
    display:flex;
    margin-right: auto;
}

ul {
    padding-inline-start: 0;
}